# Praktische Übung 2: Logistische Regresssion

## Titanic Datensatz
Vorhersageproblem: Verschiedene Attribute zu den Passagieren auf der Titanic <br>
Frage: Hat der Passagier das Unglück überlebt?

Da wir den Umgang mit kategorischen Features noch nicht eingeführt haben benutzen wir nur folgende Attribute: <br>
- Pclass , Passenger Class (1 = 1st, 2 = 2nd, 3 = 3rd)
- Survived , Survival (0 = no, 1 = yes)
- age, Age
- sibso , Number of siblings/spouses aboard
- parch , Number of children/parents aboard
- fare , Passender Fare (brithish pound)

## Aufgabe 1

1. Laden Sie den Datensatz aus `titanic.csv` in einen Pandas DataFrame. Die Daten befinden sich im `/data` folder auf [GitHub](https://github.com/pabair/ml-kurs-ws22/).
2. Erstellen Sie einen neuen DataFrame, der nur die folgenden Spalten enthält: "Survived", "Pclass", "Age", "Fare", "Sibsp", "Parch"
3. Entfernen Sie die leeren Felder aus dem DataFrame (d.h. Felder mit `NaN`-Werten) indem sie die Methode `dropna()` auf dem DataFrame aufrufen. <br>Zählen Sie wie viele Zeilen der DataFrame vor und nach dem Aufruf hat.

In [2]:
import pandas

titanicDataFrame = pandas.read_csv("data/titanic.csv")
print(titanicDataFrame.shape[0])
titanicDataFrame = titanicDataFrame[["Survived","Pclass","Age","Fare","SibSp","Parch"]].dropna()
print(titanicDataFrame.shape[0])

891
714

## Aufgabe 2

1. Unterteilen Sie den aus Aufgabe 1 entstandenen DataFrame mit Hilfe der Methode `train_test_split` in Trainings- und Testdaten. 
2. Trainieren Sie eine logistische Regression auf den Trainingsdaten mit "Survived" als Label. 
3. Machen Sie mit dem trainierten Model Vorhersagen auf den Testdaten und berechnen Sie:
    - Accuracy
    - Precision
    - Recall

In [12]:
# creating test and training data
from sklearn.model_selection import train_test_split
trainingDataFrame, testingDataFrame = train_test_split(titanicDataFrame, test_size=0.2, random_state=0)

     Survived  Pclass    Age      Fare  SibSp  Parch
423         0       3  28.00   14.4000      1      1
177         0       1  50.00   28.7125      0      0
305         1       1   0.92  151.5500      1      2
292         0       2  36.00   12.8750      0      0
889         1       1  26.00   30.0000      0      0

In [ ]:
# training a logistical regression. The label is "Survived".

## Aufgabe 3

1. Fügen Sie nun das Geschlecht als weiteres Feature hinzu und führen Sie die Schritte aus Aufgabe 1 und 2 erneut aus. Beachten Sie dabei, dass Geschlecht kein numerischer Wert ist, d.h. Sie müssen daraus ein numerisches Feature erstellen. Beispiel: Feature "isFemale" hat den Wert 1  wenn Sex == "female", sonst 0. <br>
Hinweis: Python wandelt Booleans automatisch in Nummern um. 
2. In wie weit verbessert sich die Accuracy durch das neue Feature?
3. Versuchen Sie nun auf ähnliche Weise die Spalte "Embarked" als Feature zu nutzen.

## Bonus

Welches sind die wichtigsten und unwichtigsten Features des Modells fur die Vorhersage?